@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Devanshu Joshi<br />
    London<br />
    <abbr title="Phone">P:</abbr>
    7387999793
</address>

<address>
    <strong>Email Me</strong>   <a href="mailto:Devanshu@c0de4dev.onmicrosoft.com">Email Me</a><br />
    <strong>Marketing:</strong> <a href="mailto:Devanshu@c0de4dev.onmicrosoft.com">Email Market Team</a>
</address>